* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body{
      font-family: 'Roboto', sans-serif;
      font-size: 100%;
     
      }

      header .contenedor-header{
        width: 100%;
        padding-top: 15px;
        padding-left: 15px;
        display: flex;
        display: flex;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        color: black;
      }

      header .contenedor-header img{

        width: 10%;

      }
      body .resolucion{
        width: 90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;  
      }


